# inventory.example.env
# Demo exam variant 3 inventory after PVE-ASDaC-BASH deployment.
# If VMIDs differ, check qm list on Proxmox and update /root/de-inventory.env.

ISP_VMID=10101
HQ_RTR_VMID=10102
HQ_SRV_VMID=10103
HQ_CLI_VMID=10104
BR_RTR_VMID=10105
BR_SRV_VMID=10106

TZ=Europe/Kaliningrad
DOMAIN=au-team.irpo
REALM=AU-TEAM.IRPO
AD_NETBIOS_DOMAIN=AU-TEAM

SSH_USER=sshuser
SSH_UID=2013
SSH_PASS=P@ssw0rd
SSH_PORT=2013

ROUTER_ADMIN_USER=net_admin
ROUTER_ADMIN_PASS=P@ssw0rd
NET_ADMIN_USER="$ROUTER_ADMIN_USER"
DEMO_PASS="$SSH_PASS"

VLAN_SRV=113
VLAN_CLI=213
VLAN_MGMT=813

ISP_WAN_IF=enp7s1
ISP_HQ_IF=enp7s2
ISP_BR_IF=enp7s3

HQ_RTR_WAN_IF=enp7s1
HQ_RTR_LAN_IF=enp7s2

BR_RTR_WAN_IF=enp7s1
BR_RTR_LAN_IF=enp7s2

HQ_SRV_IF=enp7s1
HQ_CLI_IF=enp7s1
BR_SRV_IF=enp7s1

ISP_HQ_NET=172.16.50.0/28
ISP_HQ_IP=172.16.50.1/28
ISP_HQ_ADDR=172.16.50.1

HQ_RTR_WAN_IP=172.16.50.2/28
HQ_RTR_WAN_ADDR=172.16.50.2
HQ_RTR_WAN_GW=172.16.50.1

ISP_BR_NET=172.16.60.0/28
ISP_BR_IP=172.16.60.1/28
ISP_BR_ADDR=172.16.60.1

BR_RTR_WAN_IP=172.16.60.2/28
BR_RTR_WAN_ADDR=172.16.60.2
BR_RTR_WAN_GW=172.16.60.1

HQ_SRV_NET=192.168.113.0/27
HQ_RTR_SRV_GW=192.168.113.1
HQ_RTR_SRV_ADDR=192.168.113.1
HQ_SRV_IP=192.168.113.2/27
HQ_SRV_ADDR=192.168.113.2
HQ_SRV_GW=192.168.113.1

HQ_CLI_NET=192.168.213.0/27
HQ_RTR_CLI_GW=192.168.213.1
HQ_RTR_CLI_ADDR=192.168.213.1
HQ_CLI_DHCP_START=192.168.213.10
HQ_CLI_DHCP_END=192.168.213.20
HQ_CLI_ADDR=192.168.213.11
HQ_CLI_EXPECTED_IP=192.168.213.11
HQ_CLI_GW=192.168.213.1

MGMT_NET=192.168.81.0/29
HQ_RTR_MGMT_GW=192.168.81.1
HQ_RTR_MGMT_ADDR=192.168.81.1

BR_SRV_NET=192.168.10.0/28
BR_RTR_LAN_IP=192.168.10.1/28
BR_RTR_LAN_ADDR=192.168.10.1
BR_SRV_IP=192.168.10.2/28
BR_SRV_ADDR=192.168.10.2
BR_SRV_GW=192.168.10.1

GRE_NAME=gre1
GRE_HQ_IP=10.10.10.1/30
GRE_HQ_ADDR=10.10.10.1
GRE_BR_IP=10.10.10.2/30
GRE_BR_ADDR=10.10.10.2

DNS_FORWARDER_1=77.88.8.7
DNS_FORWARDER_2=77.88.8.3
DNS_FORWARDER_FALLBACK=8.8.8.8

DNS_HQ_SRV_IP=192.168.113.2
DNS_HQ_RTR_IP=192.168.113.1
DNS_HQ_CLI_IP=192.168.213.11
DNS_BR_SRV_IP=192.168.10.2
DNS_BR_RTR_IP=192.168.10.1
DNS_WEB_IP=172.16.50.1
DNS_DOCKER_IP=172.16.60.1

WEB_DOMAIN=web.au-team.irpo
DOCKER_DOMAIN=docker.au-team.irpo

DOMAIN_PASS=P@ssw0rd
DOMAIN_USERS_PREFIX=hquser
DOMAIN_USERS_SUFFIX=
DOMAIN_USER_TEMPLATE=hquser{N}
DOMAIN_USERS_COUNT=5
USERS_CSV_PATH=/opt/users.csv
AD_USERS_CSV=/mnt/additional/Users.csv
HQ_USERS_PREFIX=hquser
HQ_USERS_SUFFIX=
HQ_USERS_COUNT=5
HQ_GROUP=hq
DOMAIN_GROUP=hq
SUDO_LIMITED_COMMANDS=/bin/cat,/bin/grep,/usr/bin/id

RAID_DEVICE=/dev/md3
RAID_LEVEL=5
RAID_DISK_COUNT=3
RAID_DISK_SIZE_GB=1
RAID_MOUNT=/raid
NFS_DIR=/raid/nfs
NFS_EXPORT_DIR=/raid/nfs
NFS_CLIENT_NET=192.168.213.0/27
NFS_CLIENT_MOUNT=/mnt/nfs
NFS_MOUNT_DIR=/mnt/nfs
NFS_SERVER=192.168.113.2

NTP_SERVER_ROLE=ISP
NTP_STRATUM=8
TIME_SERVER=isp.au-team.irpo
NTP_SERVER_CANDIDATES=isp,hq-rtr

ANSIBLE_WORKDIR=/etc/ansible
ANSIBLE_HOSTS=hq-srv,hq-cli,hq-rtr,br-rtr
ANSIBLE_REPORT_DIR=/etc/ansible/PC-INFO
ANSIBLE_PLAYBOOK_SRC=/mnt/additional/playbook/get_hostname_address.yml

ADDITIONAL_MOUNT=/mnt/additional
ADDITIONAL_CDROM_1=/dev/sr0
ADDITIONAL_CDROM_2=/dev/cdrom

DOCKER_IMAGE_APP=site_latest
DOCKER_IMAGE_DB=postgresql_latest
DOCKER_APP_IMAGE=site:latest
DOCKER_DB_IMAGE=postgres:15-alpine
DOCKER_SITE_IMAGE=site:latest
DOCKER_NETWORK=examnet
DOCKER_APP_CONTAINER=site
DOCKER_SITE_CONTAINER=site
DOCKER_DB_CONTAINER=db
DOCKER_DB_NAME=testdb3
DOCKER_DB_USER=test3c
DOCKER_DB_PASS=P@ssw0rd
DOCKER_APP_PORT=8083
DOCKER_CONTAINER_PORT=8000
APP_PORT=8083

WEB_DB_NAME=webdb
WEB_DB_USER=web3
WEB_DB_PASS=P@ssw0rd
WEB_DOCROOT=/var/www/html
WEB_ROOT=/var/www/html
WEB_HTTP_SERVICE=httpd2
WEB_DB_SERVICE=mariadb
WEB_HTTP_PORT=80

DNAT_PORT=8083
DNAT_HQ_TARGET=192.168.113.2:8083
DNAT_BR_TARGET=192.168.10.2:8083
SSH_DNAT_PORT=2013
SSH_DNAT_HQ_TARGET=192.168.113.2:2013
SSH_DNAT_BR_TARGET=192.168.10.2:2013

REVERSE_PROXY_HOST=isp.au-team.irpo
NGINX_SERVICE=nginx
BASIC_AUTH_USER=Kazimirc
BASIC_AUTH_PASS=P@ssw0rd
BASIC_AUTH_FILE=/etc/nginx/.htpasswd

HQ_CLI_BROWSER="Yandex Browser"
YANDEX_BROWSER_PACKAGE=yandex-browser-stable
YANDEX_BROWSER_PREINSTALL_PACKAGE=yandex-browser-preinstall
YANDEX_BROWSER_BIN=/usr/bin/yandex-browser-stable

SAMBA_REALM=AU-TEAM.IRPO
SAMBA_DOMAIN=AU-TEAM
SAMBA_ADMIN_USER=Administrator
SAMBA_ADMIN_PASS=P@ssw0rd
SAMBA_DC_HOST=br-srv.au-team.irpo
SAMBA_DC_IP=192.168.10.2
SAMBA_GROUP=hq
SAMBA_USER_PREFIX=hquser
SAMBA_USERS_COUNT=5
MON_DOMAIN=mon.au-team.irpo
MON_USER=admin
BACKUP_DIR=/backup
CA_COMMON_NAME="au-team.irpo Demo CA"
PRINTER_NAME=PDF
SYSLOG_DIR=/var/log/remote

HQ_SRV_PVE_NET=net6
HQ_CLI_PVE_NET=net6

# Proxmox network placement:
# ISP: net6 bridge=vmbr0, net7 bridge=vmbr1001, net8 bridge=vmbr1002
# HQ-RTR: net6 bridge=vmbr1001, net7 bridge=vmbr1003
# HQ-SRV: vmbr1003 tag=113
# HQ-CLI: vmbr1003 tag=213
# BR-RTR: net6 bridge=vmbr1002, net7 bridge=vmbr1004
# BR-SRV: vmbr1004
